/* Main */
*{
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}
.main-section {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background-image: linear-gradient(to bottom right, rgba(255,255,255,0.5), rgba(0,0,0,0.5)), url(../img/background.jpg);
  background-position: center;
  background-size: cover;
}
h2 {
    text-transform: uppercase;
}

/*  Navigation  */

.main-section .navigation{
  padding: 0;
}
.main-section .navigation ul {
  padding: 0;
  margin: 0;
}
.navigation li {
  padding: 35px 30px;
  display: block;
  text-align: left;
  width: 200px;
}
.navigation li a{
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
  font-size: 1.5em;
  font-family: 'PT Sans', sans-serif;
}
.navigation li a:hover{
  color: #2F4F4F;
}

/*  Logo  */

.logo {
  position: absolute;
  top: 25px;
  right: 40px;
}
.logo i, 
.logo h1 {
  display: inline-block;
  padding: 5px;
  margin: 0;
  color: #fff;
  font-size: 2em;
}
.logo h1 {
  font-family: 'Amatic SC', cursive;
}

/*  Order now  */

.order-now {
    position: absolute;
    right: 40px;
    top: 300px;
    color: #fff;
    text-align: center;
    font-family: 'Crete Round', serif;
}

/*  Car  */

.car .car-image {
  background-image: url(../img/car.png);
  width: 700px;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 250px;
}
.car .car-image .car-item {
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
} 
.car .car-image .car-item i {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  border: 2px solid #fff;
  padding: 8px;
  font-size: 1.2em;
  color: #fff;
}
.car .car-image .car-item1 {
  top: 110px;
  left: 105px;
}
.car .car-image .car-item2 {
  top: 210px;
  left: 50px;
}
.car .car-image .car-item3 {
  top: 330px;
  left: 100px;
}
.car .car-image .car-item:hover i{
  color: #2F4F4F;
  border: 2px solid #2F4F4F;
}
.car .car-image .car-item:after {
  content: "";
  background-color: rgba(47,79,79,0.6);
  padding: 8px;
  opacity: 0;
  transition: 0.4s;
  border-radius: 4px;
  color: #fff;
}
.car .car-image .car-item1:after {
  content: "Instant payments by the app"
}
.car .car-image .car-item2:after {
  content: "User and payments data safety"
}
.car .car-image .car-item3:after {
  content: "Fair prices visible on the screen"
}
.car .car-image .car-item:hover:after {
  opacity: 1;
}

/*  Page  */

.page {
  display: none;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  min-height: 450px;
  max-height: 600px;
  background-color: rgba(47,79,79,0.8);
  text-align: center;
  color: #fff;
}
.page .page-content {
  width: 80%;
  margin: 0 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.page .fa-times {
  position: absolute;
  top: 5px;
  color: #fff;
  font-size: 1.2em;
  right: 5px;
  cursor: pointer;
}

/*  Order  */

#order-page .input-div,
#order-page .textarea-div{
    float: left;
    width: 50%;
}
#order-page input,
#order-page textarea{
  width: 94%;
  padding: 5px;
  margin: 10px 3%;
  outline: none;
  border-radius: 4px;
  border: 2px solid #fff;
  font-family: 'Work Sans', sans-serif;
}
#order-page textarea {
    height: 225px;
}
#order-page button {
  padding: 7px 20px;
  background-color: #fff;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: 0.4s;
  color: #2F4F4F;
  margin: 15px;
}
#order-page button:hover{
  color: #fff;
  background-color: #2F4F4F;
  cursor: pointer;
}

/*  Price  */

#price-page .page-content table {
  width: 100%;
  text-align: left;
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0.3);
  margin: 10px 0;
}
#price-page .page-content table td {
  padding: 10px;
}

/*  About  */

#about-page .about-text,
#about-page .about-img{
    float: left;
    width: 50%;
}
#about-page .about-text {
    text-align: left;
    padding: 0 15px;
}
#about-page .about-text p{
    margin: 0;
}
#about-page .about-img{
    background-image: url(../img/taxi.jpg);
    background-size: cover;
    background-position: center;
    height: 280px;
    border-radius: 4px;
}

/*  Contact  */

#contact-page .contact-inner {
    float: left;
    width: 33.33%;
    padding: 30px 0;
}
#contact-page .contact-inner i {
    font-size: 2.6em;
    transition: 0.4s;
    cursor: pointer;
}
#contact-page .contact-inner i:hover{
    transform: scale(1.2);
}
